In [1]:
import pymysql

#設定連線資訊
host = 'localhost'
port = 3306
user = 'root'
passwd = 'DA02008'
charset = 'utf8mb4'

#建立連線
conn = pymysql.connect(host=host,port=port,user=user,passwd=passwd,charset=charset,local_infile=True)
print('Successfully connected')

Successfully connected

In [2]:
#建立游標
cursor = conn.cursor()

#建立新資料庫
cursor.execute("CREATE DATABASE IF NOT EXISTS Final_Group_Project_DB;")

1

In [3]:
#切換新建立資料庫 Final_Group_Project_DB
sql ="""
USE Final_Group_Project_DB;
"""
cursor.execute(sql)

0

In [4]:
#建立 product TABLE
sql ="""
CREATE TABLE product (
            PRODUCT_ID INT NOT NULL,
            MANUFACTURER INT,
            DEPARTMENT VARCHAR(20),
            BRAND VARCHAR(20),
            COMMODITY_DESC VARCHAR(40),
            SUB_COMMODITY_DESC VARCHAR(40),
            CURR_SIZE_OF_PRODUCT VARCHAR(20),
            
            CONSTRAINT PRODUCKT_ID_PK PRIMARY KEY (PRODUCT_ID)

)ENGINE = INNODB;
"""
cursor.execute(sql)

0

In [5]:
#匯入product.csv檔案到資料庫
sql ="""
LOAD DATA LOCAL INFILE "./data/product.csv" 
INTO TABLE product
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT);
"""
cursor.execute(sql)

92353

In [6]:
#交易確認送出
conn.commit()

In [7]:
#建立 hh_demographic TABLE 
sql ="""
CREATE TABLE hh_demographic (
            AGE_DESC VARCHAR(10),
            MARITAL_STATUS_CODE VARCHAR(5),
            INCOME_DESC VARCHAR(20),
            HOMEOWNER_DESC VARCHAR(20),
            HH_COMP_DESC VARCHAR(20),
            HOUSEHOLD_SIZE_DESC VARCHAR(5),
            KID_CATEGORY_DESC VARCHAR(20),
            household_key INT NOT NULL,
            
            CONSTRAINT household_key_PK PRIMARY KEY (household_key)
            
)ENGINE = INNODB;
"""
cursor.execute(sql)

0

In [8]:
#匯入hh_demographic_filling_missing_data.csv檔案到資料庫
sql ="""
LOAD DATA LOCAL INFILE "C:/Users/202009-DA02008/PycharmProjects/Project_data_mining/1_data_cleaing/data_cleaing_v1/data/hh_demographic_filling_missing_data.csv" 
INTO TABLE hh_demographic
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(AGE_DESC,MARITAL_STATUS_CODE,INCOME_DESC,HOMEOWNER_DESC,HH_COMP_DESC,HOUSEHOLD_SIZE_DESC,KID_CATEGORY_DESC,household_key);
"""
cursor.execute(sql)

2500

In [9]:
#交易確認送出
conn.commit()

In [10]:
#建立 campaign_desc TABLE
sql ="""
CREATE TABLE campaign_desc (
            DESCRIPTION VARCHAR(10),
            CAMPAIGN SMALLINT NOT NULL,
            START_DAY SMALLINT,
            END_DAY SMALLINT,
            
            CONSTRAINT CAMPAIGN_PK PRIMARY KEY (CAMPAIGN)
            
)ENGINE = INNODB;
"""
cursor.execute(sql)

0

In [11]:
# 匯入campaign_desc.csv檔案到資料庫
sql ="""
LOAD DATA LOCAL INFILE "C:/Users/202009-DA02008/PycharmProjects/Project_data_mining/1_data_cleaing/data_cleaing_v1/data/campaign_desc.csv" 
INTO TABLE campaign_desc
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(DESCRIPTION,CAMPAIGN,START_DAY,END_DAY);
"""
cursor.execute(sql)

30

In [12]:
#交易確認送出
conn.commit()

In [13]:
#建立 campaign_table TABLE
sql ="""
CREATE TABLE campaign_table (
            DESCRIPTION VARCHAR(10),
            household_key INT,
            CAMPAIGN SMALLINT,
            
            CONSTRAINT household_key_FK FOREIGN KEY (household_key) REFERENCES hh_demographic (household_key),
            CONSTRAINT CAMPAIGN_FK FOREIGN KEY (CAMPAIGN) REFERENCES campaign_desc(CAMPAIGN)
            
)ENGINE = INNODB;
"""
cursor.execute(sql)

0

In [14]:
#匯入campaign_table.csv檔案到資料庫
sql ="""
LOAD DATA LOCAL INFILE "C:/Users/202009-DA02008/PycharmProjects/Project_data_mining/1_data_cleaing/data_cleaing_v1/data/campaign_table.csv" 
INTO TABLE campaign_table
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(DESCRIPTION,household_key,CAMPAIGN);
"""
cursor.execute(sql)

7208

In [15]:
#交易確認送出
conn.commit()

In [16]:
#建立 coupon TABLE
sql ="""
CREATE TABLE coupon (
            COUPON_UPC BIGINT,
            PRODUCT_ID INT,
            CAMPAIGN SMALLINT,
            
            CONSTRAINT PRODUCT_ID_FK_1 FOREIGN KEY (PRODUCT_ID) REFERENCES product (PRODUCT_ID),
            CONSTRAINT CAMPAIGN_FK_1 FOREIGN KEY (CAMPAIGN) REFERENCES campaign_desc (CAMPAIGN)
            
)ENGINE = INNODB;
"""
cursor.execute(sql)

0

In [17]:
#匯入coupon.csv檔案到資料庫
sql ="""
LOAD DATA LOCAL INFILE "C:/Users/202009-DA02008/PycharmProjects/Project_data_mining/1_data_cleaing/data_cleaing_v1/data/coupon.csv" 
INTO TABLE coupon
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(COUPON_UPC,PRODUCT_ID,CAMPAIGN);
"""
cursor.execute(sql)

124548

In [18]:
#交易確認送出
conn.commit()

In [19]:
#建立 transaction_data TABLE
sql ="""
CREATE TABLE transaction_data (
            household_key INT,
            BASKET_ID BIGINT,
            DAY SMALLINT,
            PRODUCT_ID INT NOT NULL,
            QUANTITY INT,
            SALES_VALUE FLOAT,
            STORE_ID INT,
            RETAIL_DISC FLOAT,
            TRANS_TIME SMALLINT,
            WEEK_NO SMALLINT,
            COUPON_DISC FLOAT,
            COUPON_MATCH_DISC FLOAT,
            
            CONSTRAINT household_key_FK_1 FOREIGN KEY (household_key) REFERENCES hh_demographic (household_key),
            CONSTRAINT PRODUCT_ID_FK_2 FOREIGN KEY (PRODUCT_ID) REFERENCES product (PRODUCT_ID)
            
)ENGINE = INNODB;
"""
cursor.execute(sql)

0

In [20]:
#匯入transaction_data.csv檔案到資料庫
sql ="""
LOAD DATA LOCAL INFILE "C:/Users/202009-DA02008/PycharmProjects/Project_data_mining/1_data_cleaing/data_cleaing_v1/data/transaction_data.csv" 
INTO TABLE transaction_data
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC);
"""
cursor.execute(sql)

2595732

In [21]:
#交易確認送出
conn.commit()

In [22]:
#建立 coupon_redempt TABLE
sql ="""
CREATE TABLE coupon_redempt (
            household_key INT,
            DAY SMALLINT,
            COUPON_UPC BIGINT,
            CAMPAIGN SMALLINT,
            
            CONSTRAINT household_key_FK_2 FOREIGN KEY (household_key) REFERENCES hh_demographic (household_key),
            CONSTRAINT CAMPAIGN_FK_2 FOREIGN KEY (CAMPAIGN) REFERENCES campaign_desc(CAMPAIGN)
            
)ENGINE = INNODB;
"""
cursor.execute(sql)

0

In [23]:
#匯入coupon_redempt.csv檔案到資料庫
sql ="""
LOAD DATA LOCAL INFILE "C:/Users/202009-DA02008/PycharmProjects/Project_data_mining/1_data_cleaing/data_cleaing_v1/data/coupon_redempt.csv" 
INTO TABLE coupon_redempt
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(household_key,DAY,COUPON_UPC,CAMPAIGN);
"""
cursor.execute(sql)

2318

In [24]:
#交易確認送出
conn.commit()

In [25]:
#建立 causal_data TABLE
sql ="""
CREATE TABLE causal_data (
            PRODUCT_ID INT NOT NULL,
            STORE_ID INT NOT NULL,
            WEEK_NO SMALLINT,
            display VARCHAR(5),
            mailer VARCHAR(5),
            
            CONSTRAINT PRODUCT_ID_FK FOREIGN KEY (PRODUCT_ID) REFERENCES product (PRODUCT_ID)
            
)ENGINE = INNODB;
"""
cursor.execute(sql)

0

In [48]:
#匯入causal_data.csv檔案到資料庫
for i in range(0,37):
    sql ="""
    LOAD DATA LOCAL INFILE "C:/Users/202009-DA02008/PycharmProjects/Project_data_mining/1_data_cleaing/data_cleaing_v1/data/causaldata_splited/causal_data_%s.csv"
    INTO TABLE causal_data
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS
    (PRODUCT_ID,STORE_ID,WEEK_NO,display,mailer);"""  % i

    cursor.execute(sql)
    #交易確認送出
    conn.commit()

In [37]:
# sql ="SELECT * FROM campaign_desc;"
# cursor.execute(sql)

30

In [38]:
# data = cursor.fetchall()
# data

(('TypeB', 1, 346, 383),
 ('TypeB', 2, 351, 383),
 ('TypeC', 3, 356, 412),
 ('TypeB', 4, 372, 404),
 ('TypeB', 5, 377, 411),
 ('TypeC', 6, 393, 425),
 ('TypeB', 7, 398, 432),
 ('TypeA', 8, 412, 460),
 ('TypeB', 9, 435, 467),
 ('TypeB', 10, 463, 495),
 ('TypeB', 11, 477, 523),
 ('TypeB', 12, 477, 509),
 ('TypeA', 13, 504, 551),
 ('TypeC', 14, 531, 596),
 ('TypeC', 15, 547, 708),
 ('TypeB', 16, 561, 593),
 ('TypeB', 17, 575, 607),
 ('TypeA', 18, 587, 642),
 ('TypeB', 19, 603, 635),
 ('TypeC', 20, 615, 685),
 ('TypeB', 21, 624, 656),
 ('TypeB', 22, 624, 656),
 ('TypeB', 23, 646, 684),
 ('TypeB', 24, 659, 719),
 ('TypeB', 25, 659, 691),
 ('TypeA', 26, 224, 264),
 ('TypeC', 27, 237, 300),
 ('TypeB', 28, 259, 320),
 ('TypeB', 29, 281, 334),
 ('TypeA', 30, 323, 369))

In [49]:
#關閉游標及連線
cursor.close()
conn.close()